<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/matakuliah.css">
    <title>Mata Kuliah</title>
</head>
<body>

<div class="topnav">
    <a class="me-3" href="#"><b>STACO</b></a>
    <a href="#">Home</a>
    <a href="#">Jadwal Demo</a>
    <a href="#">Jadwal Asis</a>
    <a href="/matkul">Mata Kuliah</a>
    <a href="/broadcast/">Broadcast</a>
    <a th:if="${user == null}" href="/auth/register" class="float-right">Register</a>
    <a th:if="${user == null}" href="/auth/login" class="float-right">Login</a>
    <a th:if="${user != null}" href="/auth/logout" class="float-right">Logout</a>
</div>


<div class="content container">
    <div class="py-3 text-center">
        <h1>Mata Kuliah</h1>
    </div>

    <div th:if="${MatkulList.empty}">
        <h4 class="text-center">TIDAK ADA MATA KULIAH TERDAFTAR</h4>
    </div>

    <div th:if="${!MatkulList.empty}">
        <ul class="list-group">
            <div th:each="matkul:${MatkulList}">
                <li class="list-group-item">
                    <a th:href="@{/matkul/dev/{id}(id=${matkul.ID})}"><button type="button" class="btn btn-primary">EDIT</button></a>
                    [<span th:text="${matkul.kode_matkul}"></span>]
                    <span th:text="${matkul.nama_matkul}"></span>
                </li>
            </div>
        </ul>
    </div>

    <h2 class="text-center m-3"><a href="/matkul/dev/create"><button type="button" class="btn btn-primary">Create Matkul</button></a></h2>

    <h2 class="text-center m-3"><a href="/matkul"><button type="button" class="btn btn-primary">Public Mode</button></a></h2>

</div>

<div class="card-footer text-center fixed-bottom">
    <p style="color: #2C6B96;"><b>Created by Advance Programming's B Class - Group B1</b></p>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body></html>

