<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mata Kuliah</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/matakuliah.css">
</head>
<body>

<div class="topnav">
    <a class="me-3" href="#"><b>STACO</b></a>
    <a href="#">Home</a>
    <a href="#">Jadwal Demo</a>
    <a href="#">Jadwal Asis</a>
    <a href="/matkul">Mata Kuliah</a>
    <a href="/broadcast/">Broadcast</a>
    <a th:if="${user == null}" href="/auth/register" class="float-right">Register</a>
    <a th:if="${user == null}" href="/auth/login" class="float-right">Login</a>
    <a th:if="${user != null}" href="/auth/logout" class="float-right">Logout</a>
</div>


<div class="content container">
    <h1 class="text-center"><span th:text="${matkul.nama_matkul}">Nama Mata Kuliah</span></h1>

    <h3>Kode Mata Kuliah : <span th:text="${matkul.kode_matkul}"></span></h3>
    <h3>Peran :
        <span th:if="${pendaftar.isAsdos == true}">Asisten Dosen</span>
        <span th:if="${pendaftar.isAsdos == false}">Mahasiswa</span>
    </h3>
    <h3>Kode Asisten : <span th:text="${pendaftar.kode_asdos}"></span></h3>
    <br/>
    <span th:if="${pendaftar.isAsdos == true}">


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Ubah Kode Asisten
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ubah Kode Asisten</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/matkul/setkode_asdos}" method="POST" class="width">
                      <input name="idasdos" type="hidden" class="form-control" th:value="${pendaftar.idmendaftar}">
                      <input name="id" type="hidden" class="form-control" th:value="${matkul.ID}">
                      <h3>Kode Asisten Baru: <input name="kode_asdos" type="text" class="form-control"> </h3>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <br/><br/>
    <h2>Pendaftar</h2>
    <h4>Asisten Dosen :</h4>
    <ol>
        <div th:each="mendaftar:${mendaftarList}">
            <span th:if="${mendaftar.isAsdos == true}">
                <li>
                    <span th:text="${mendaftar.user.username}"></span>
                </li>
            </span>
        </div>
    </ol>
    <h4>Group :</h4>
    <ol>
        <div th:each="mendaftar:${mendaftarList}">
            <span th:if="${mendaftar.isAsdos == false and mendaftar.kode_asdos == pendaftar.kode_asdos}">
                <li>
                    <span th:text="${mendaftar.user.username}"></span>
                    <a th:href="@{/matkul/{id}/drop/{idmendaftar}/{idpendaftar}(id=${matkul.ID}, idmendaftar=${mendaftar.idmendaftar}, idpendaftar=${pendaftar.idmendaftar})}">Drop Group</a>
                </li>
            </span>
        </div>
    </ol>
    <h4>Mahasiswa :</h4>
    <ol>
        <div th:each="mendaftar:${mendaftarList}">
            <span th:if="${mendaftar.isAsdos == false and mendaftar.kode_asdos != pendaftar.kode_asdos}">
                <li>
                    <span th:text="${mendaftar.user.username}"></span>
                    <a th:href="@{/matkul/{id}/add/{idmendaftar}/{idpendaftar}(id=${matkul.ID}, idmendaftar=${mendaftar.idmendaftar}, idpendaftar=${pendaftar.idmendaftar})}">Add Group</a>
                </li>
            </span>
        </div>
    </ol>
</span>


    <span th:if="${pendaftar.isAsdos == false}">

    <h4>Asdos :</h4>
    <ul>
        <div th:each="mendaftar:${mendaftarList}">
            <span th:if="${mendaftar.isAsdos == true and mendaftar.kode_asdos == pendaftar.kode_asdos}">
                <li>
                    <span th:text="${mendaftar.user.username}"></span>
                </li>
            </span>
        </div>
    </ul>

    <h4>Group :</h4>
    <ol>
        <div th:each="mendaftar:${mendaftarList}">
            <span th:if="${mendaftar.isAsdos == false and mendaftar.kode_asdos == pendaftar.kode_asdos}">
                <li>
                    <span th:text="${mendaftar.user.username}"></span>
                </li>
            </span>
        </div>
    </ol>
</span>

    <div class="row">
        <div class="col-6">
            <h2><a href="/matkul/dev"><button type="button" class="btn btn-primary">Back</button></a></h2>
        </div>
        <div class="col-6">
            <h2><a th:href="@{/matkul/{id}/{idmendaftar}/leave(id=${matkul.ID}, idmendaftar=${pendaftar.idmendaftar})}"><button type="button" class="btn btn-danger float-right">Leave</button></a></h2>
        <div>
    </div>



</div>

<div class="card-footer text-center fixed-bottom">
    <p style="color: #2C6B96;"><b>Created by Advance Programming's B Class - Group B1</b></p>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body></html>