<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
    <head>
        <meta charset = "UTF-8">
        <title>Select Course</title>
        <link rel = "stylesheet" href = "/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="#">Jadwal Demo</a>
            <a href="#">Jadwal Asis</a>
            <a href="/matkul">Mata Kuliah</a>
            <a href="/broadcast/">Broadcast</a>
            <a href="/auth/register" class="float-right">Register</a>
            <a href="/auth/login" class="float-right">Login</a>
        </div>
        <div class="content">
            <form th:action = "@{/broadcast/get-broadcast}" method = "POST">
                <div class="form-group">
                    <label for = "idString">Choose a Course:</label>
                    <select class="form-control" name="idString" id="idString">
                        <option value="" selected="" disabled="">Select Course</option>
                        <div class = "courses" th:each = "mataKuliah:${allMatkul}">
                            <option th:value="${mataKuliah.getID()}" th:text="${mataKuliah.getNama_matkul()}"></option>
                        </div>
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
            </form>
            <form th:if="${isAsdos}" th:action = "@{/broadcast/create-broadcast}" method = "POST">
                <button type="submit" class="btn btn-outline-primary btn-block">Create Broadcast</button>
            </form>
            <div class="container">
                <div id="accordion">
                <!--<div id="accordion" th:each="broadcast:${allBroadcast}">-->
                    <!--<h3>Tes Accordion</h3>
                    <div>
                        <p th:text="${broadcast.getMessage()}"></p>
                    </div>-->
                    <h3> Farhan </h3>
                    <div>
                        <ul>
                            <li> Nama Lengkap: Anis Farhan Itsnaini </li>
                            <li> Nama Panggilan: Farhan </li>
                            <li> Jurusan: Ilmu Komputer </li>
                            <li> Angkatan: Maung 2019 </li>
                            <li> Hobi: Menunda tugas sampai deadline </li>
                        </ul>
                    </div>

                    <h3> Farhan </h3>
                    <div>
                        <ul>
                            <li> Nama Lengkap: Anis Farhan Itsnaini </li>
                            <li> Nama Panggilan: Farhan </li>
                            <li> Jurusan: Ilmu Komputer </li>
                            <li> Angkatan: Maung 2019 </li>
                            <li> Hobi: Menunda tugas sampai deadline </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--<div class="broadcast-group" th:each="broadcast:${allBroadcast}">
                <text th:text="${broadcast.getMessage()}"></text>
            </div>-->
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script th:src="@{/js/chooseMatkul.js}"></script>
    </body>
</html>